<% flash.each do |name, msg| %>
  <div class="alert alert-danger"> 
    <strong> Prohibited errors:</strong>
    <ul>  
      <li><%= content_tag :div, msg, :id => "flash_#{name}" %></li>

    </ul>
  </div>  
<% end %>

  <div class="form-group">
    <div class="page-header">
      <h1>Log in</h1>
    </div>
    <%= form_tag sessions_path do %>

      <label> <%= label_tag :email %></label>
      <%= text_field_tag :email, params[:email], :class => "form-control" %>

      <label> <%= label_tag :password %></label>
      <%= password_field_tag :password,  params[:password],:class => "form-control" %>
      <br>
      <p><%= submit_tag "Log in", :class => "btn btn-lg btn-default" %></p>
    <% end %>
  </div>



