<% @point = Point.new %>
<%= form_for (@point), :html => {:multipart => true} do |f| %>
  <% if @point.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</strong>

      <ul>
        <% @point.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-4">
    <div class="form-group">

      <label><%= f.label :point_id %></label>
      <%= select_tag('point[operator_id]',options_from_collection_for_select(Operator.all, "id", "last_name", @point.operator_id),:class => 'form-control' ) %>

      <label><%= f.label :address %></label>
      <%= f.text_field :address, :class => 'form-control' %>

      <label><%= f.label :town, "City" %></label>
      <%= f.text_field :town, :class => 'form-control' %>

      <label><%= f.label :owner, "Owner" %></label>
      <%= f.text_field :owner, :class => 'form-control' %>

      <label><%= f.label :email %></label>
      <%= f.text_field :email, :class => 'form-control' %>

      <label><%= f.label :telephone %></label>
      <%= f.text_field :telephone, :class => 'form-control' %>

      <label><%= f.label :ip_address, "IP Address" %></label>
      <%= f.text_field :ip_address, :class => 'form-control' %>

      <label><%= f.label :ip_printer, "IP Printer" %></label>
      <%= f.text_field :ip_printer, :class => 'form-control' %>

      <label><%= f.label :ip_pos, "IP POS" %></label>
      <%= f.text_field :ip_pos, :class => 'form-control' %>

      <label><%= f.label :started_at %></label>
      <%= f.text_field :started_at, :id =>'datepicker', :class => 'form-control' %> 


      <div class="actions">
        <br>
        <%= f.submit 'New point',  :class => 'btn btn-default' %>
      </div>

    </div>
  </div>
<% end %>
