
<%= form_tag points_path,  :method => :get do %>
<p>Search: <%= text_field_tag :search, params[:search], :placeholder => "Search words...", :class=>"form-control", :id => 'search' %> </p>
  <%# Ukryte pola uzywane do zachowania parametrow wyszukiwania%>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%#*Do wyboru opcje params[:column] ustawia wybor listy na ten z GET%>
<p>by  <%=  select_tag(:column, options_for_select([["Operator",1],["Address",2],["City",3]], params[:column]), :class=>"form-control") %> </p>
  <%#= select_tag :table, options_for_select(Operator.column_names)  %>
  <button class="btn btn-default"> <%= link_to "Reset", points_path%></button>
  <%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
<% end %> 

