# encoding: utf-8
<% if notice %>
<div class='alert alert-success'>
  <strong>Done!</strong>
  <p id="notice"><%= notice %></p>
</div>
<% end %>
<h1>Listing points <%= @points.count %> </h1>

<%#*Forumlarz wyszukujący tresc%>

<br>
<%= render :partial => "search" %>
<br><br>
<div class="table-responsive">
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>

      <th><%= sortable "first_name","Operator" %></th>
      <th><%= sortable "address", "Address"%></th>
      <th><%= sortable "town", "City" %></th>
      <th>Photo</th>

<%#*<th>Owner</th>%>
<%#*<th>Email</th>%>
<%#*<th>Telephone</th>%>
<%#*<th>IP</th>%>
<%#*<th>Updated</th>%>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>

        <td><%= point.operator.nil? ? "No operator" : point.operator.last_name %></td>
        <td><%= point.address %></td>
        <td><%= point.town %></td>
        <td><%= Dir["public/images/uploads/#{point.id}/*"].empty? ? "" : "V"%> </td>

  <%#*<td><%= point.owner.blank? ? "-" : point.owner.force_encoding('utf-8') </td>%>
  <%#*<td><%= point.email.blank? ? "-" : (mail_to point.email) </td>%>
  <%#*<td><%= point.telephone.blank? ? "-" : point.telephone </td>%>
  <%#*<td><%= point.ip_address.blank? ? "-" : point.ip_address </td>%> 
  <%#*<td><%= point.updated_at </td>%>

        <td style="text-align: center;"><%= link_to 'View Point Repairs', point_repairs_path(:point_id => point.id), :class => "btn btn-xs btn-primary" %></td>
        <td style="text-align: center;"><%= link_to 'Show', point, :class => "btn btn-xs btn-primary" %></td>
        <td style="text-align: center;"><%= link_to 'Edit', edit_point_path(point), :class => "btn btn-xs btn-primary" %></td>
        <td style="text-align: center;"><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="digg-pagination">
<%= will_paginate @points %>
</div>
<br>

<%= link_to 'Back', points_path,  :class => 'btn btn-default' %>
<br><br>
<%  if !current_user.nil? %>
   <h1 class="page-header">Add new point:</h1>
  <%= render :partial => "new_form" %>
<%  end %>

