<% if notice %>
<div class='alert alert-success'>
  <strong>Done!</strong>
  <p id="notice"><%= notice %></p>
</div>
<% end %>
<p>
  <strong>Operator:</strong>
  <%= @point.operator.last_name+' '+@point.operator.first_name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @point.address %>
</p>

<p>
  <strong>Town:</strong>
  <%= @point.town %>
</p>
<p>
  <strong>Owner:</strong>
  <%= @point.owner.blank? ? "-" : @point.owner %>
</p>

<p>
  <strong>Email:</strong>
  <%= @point.email.blank? ? "-" : @point.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @point.telephone.blank? ? "-" : @point.telephone %>

</p>
<p>
  <strong>IP Adress:</strong>
  <%= @point.ip_address.blank? ? "-" : @point.ip_address %>

</p>
<p>
  <strong>IP POS:</strong>
  <%= @point.ip_pos.blank? ? "-" : @point.ip_pos %>

</p>
<p>
  <strong>IP Printer:</strong>
  <%= @point.ip_printer.blank? ? "-" : @point.ip_printer %>

</p>

<p>
  <strong>Started at:</strong>
  <%= @point.started_at %>
</p>

  <strong>Example:</strong>
  <p>
  <% @files = Dir.glob("public/images/uploads/#{@point.id}/*") 
     @files.each do |f| %>
     <%= link_to (image_tag "uploads/#{@point.id}/#{ File.basename(f)}", :width => 200),  "/images/uploads/#{@point.id}/#{ File.basename(f)}", target: "_blank" %> 
  <% end %>

</p>








<%= link_to 'New', new_point_path, :class => 'btn btn-default' %> 
<%= link_to 'Edit', edit_point_path(@point), :class => 'btn btn-default' %> 
<%= link_to 'Back', :back, :class => 'btn btn-default' %>
