<% @points.count %>
<% @operators.count %>
<div class="page-header">
<h1>Points belonging to Operators</h1>
</div>
<div id="graph">
  <% 

  @arr = Array.new
  @operators.each do |operator| 

    a = operator.last_name.force_encoding('utf-8') 
    b = operator.points.count

    @arr << [a,b]
  %>
  <% end %>
  <% @arr.inspect %>
  <%= pie_chart @arr %>
  
  
  
  
<%
  




%>


</div>
<div class="page-header">
<h1>Points open timeline</h1>
</div>
<div style="height:400px">
  <%= area_chart Point.group(:started_at).count, max:15 %>
</div>