<p id="notice"><%= notice %></p>

<p>
  <strong>Welcome, rember yours password and account email.</strong>
  <% @user = User.find(params[:id]) %>
  
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Password:</strong>
  <%= @user.password_hash %>
</p>
<fieldset>
<%= link_to "Log out", log_out_path, :class => 'btn btn-default'%>
<%= link_to "Change password", session_path(:id => @user.id), :class => 'btn btn-default'%>

</fieldset>
