<%= form_for(@operator) do |f| %>
  <% if @operator.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@operator.errors.count, "error") %> prohibited this operator from being saved:</strong>

      <ul>
        <% @operator.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-4">
    <div class="form-group">

      <%= f.label :first_name %>
      <%= f.text_field :first_name, :class => 'form-control' %>


      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class => 'form-control' %>

      <%= f.label :email %>
      <%= f.text_field :email, :class => 'form-control' %>

      <%= f.label :telephone %>
      <%= f.text_field :telephone, :class => 'form-control' %>
      <br>

      <div class="actions">
        <%= link_to 'Back', points_path,  :class => 'btn btn-default' %>
        <%= f.submit 'New operator',  :class => 'btn btn-default' %>
      </div>


    </div>
  </div>
<% end %>
