<% if notice %>
<div class='alert alert-success'>
  <strong>Done!</strong>
  <p id="notice"><%= notice %></p>
</div>
<% end %>
<h1>Listing operators <%= @operators.count-1 %></h1>
<div class="table-responsive">

  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Lp.:</th>

        <th><%= sortable "first_name","First Name" %></th>
        <th><%= sortable "last_name","Last Name" %></th>
        <th><%= sortable "last_name","Number of points" %></th>
        <th><%= sortable "email","Email" %></th>
        <th><%= sortable "telephone","Telephone" %></th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>

      <% @operators.each_with_index do |operator,i| %>
        <% next if operator.last_name == "Brak" %>
        <tr>
          <td><%= i %>.</td>
          <td><%= operator.first_name %></td>
          <td><%= operator.last_name %></td>
          <td><%= operator.points.count %></td>

          <td><%= operator.email.blank? ? "-" : (mail_to operator.email) %></td>
          <td><%= operator.telephone.blank? ? "-" : operator.telephone %></td>
          <td style="text-align: center;"><%= link_to 'View operators points', operator_points_path(:operator_id => operator.id), :class => "btn btn-xs btn-primary" %></td>
          <td style="text-align: center;"><%= link_to 'Show', operator, :class => "btn btn-xs btn-primary" %></td>
          <td style="text-align: center;"><%= link_to 'Edit', edit_operator_path(operator), :class => "btn btn-xs btn-primary" %></td>

          <td style="text-align: center;"><%= link_to 'Destroy', operator, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @operators %>
<br>

<%= link_to 'New Operator', new_operator_path, :class => "btn btn-lg btn-default" %>
