<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @operator.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @operator.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @operator.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @operator.telephone %>
</p>

<%= link_to 'Edit', edit_operator_path(@operator), :class => 'btn btn-default' %> 
<%= link_to 'Back', operators_path, :class => 'btn btn-default' %>
