<%= form_for [@point,@repair], :html => {:multipart => true} do |f| %>
  <% if @repair.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</strong>

      <ul>
        <% @repair.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-4">
    <div class="form-group">

      <label> <%= f.label :description %></label>
    <%= f.text_area :description, :cols => 40, :rows => 10, :class => 'form-control'  %>

    <label><%= f.label :status %></label>
    <%= f.text_field :status, :class => "form-control" %>

  
    <label><%= f.label :date %></label>
    <%= f.text_field :date, :id =>'datepicker', :class => 'form-control' %> 
 
    <%= f.hidden_field :point_id, :value => params[:point_id] %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  
<br>
    <%= f.submit 'Save repair',  :class => 'btn btn-default' %>
    <%= link_to 'Back', :back,  :class => 'btn btn-default' %>
  </div>
</div>

<% end %>

