<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>


<%= form_tag point_repairs_path, :controller => 'repair', :action => 'search', :method => :get do %>
<p>Search: <%= text_field_tag :search, params[:search], :placeholder => "Search words...", :class=>"form-control", :id => 'search' %> </p>
  <%# Ukryte pola uzywane do zachowania parametrow wyszukiwania%>
  <button class="btn btn-default"> <%= link_to "Reset", point_repairs_path %></button>
  <%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
<% end %> 

