<% if notice %>
  <div class='alert alert-success'>
    <strong>Done!</strong>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>
<div class="page-header">
  <% @point = Point.find(params[:point_id]) %>
  <h1>Listing repairs of <%= @point.town+', '+@point.address %> </h1>
</div>

  <%= render :partial => "search" %>

<br><br>



<% if @repairs.size == 0 %>
  <% flash[:alert] =  "No repairs found" %>


  <% flash.each do |name, msg| %>
    <div class="alert alert-danger"> 
      <strong> Prohibited errors:</strong>
      <ul>  
        <li><%= content_tag :div, msg, :id => "flash_#{name}" %></li>

      </ul>
    </div>  
  <% end %>


<% else %>
  <div style="width:20px; height: 20px; background-color:  #FAF2CC; float:left;"></div> - older than one week<br><br>
  <div style="width:20px; height: 20px; background-color:  #F2DEDE; float:left;"></div> - older than two weeks<br><br>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>

          <th>Description</th>
          <th>Repairer</th>
          <th>Status</th>
          <th>Date</th>

  <%#*<th>Owner</th>%>
  <%#*<th>Email</th>%>
  <%#*<th>Telephone</th>%>
  <%#*<th>IP</th>%>
  <%#*<th>Updated</th>%>
          <th colspan="3"></th>
        </tr>
      </thead>


      <tbody>

      <% end %>
      <% #@repairs = Repair.point %>

      <% @repairs.each do |repair| %>
        <% @date = 1.weeks.ago %>
        <% @date2 = 2.weeks.ago %>

        <% if (repair.date < @date) && (repair.status == false) && (repair.date > @date2) %>
          <tr class="warning">

          <% else %>
          <tr class="success">
          <% end %>
          <% if (repair.date < @date2) && (repair.status == false)%>
          <tr class="danger">


          <% end %>

          <td style="width:400px;"><%= repair.description.html_safe %></td>
          <td><%= repair.user.email %></td>
          <td><%=  repair.status ? 'Done' : 'Need atention' %></td>
          <td><%= repair.date %></td>


  <%#*<td><%= point.owner.blank? ? "-" : point.owner.force_encoding('utf-8') </td>%>
  <%#*<td><%= point.email.blank? ? "-" : (mail_to point.email) </td>%>
  <%#*<td><%= point.telephone.blank? ? "-" : point.telephone </td>%>
  <%#*<td><%= point.ip_address.blank? ? "-" : point.ip_address </td>%> 
  <%#*<td><%= point.updated_at </td>%>



          <td style="text-align: center;"><%= link_to 'Show', point_repair_path(:id => repair), :class => "btn btn-xs btn-primary"  %></td>
          <td style="text-align: center;"><%= link_to 'Edit', edit_point_repair_path(:id =>repair), :class => "btn btn-xs btn-primary"  %></td>
          <td style="text-align: center;"><%= link_to 'Destroy', point_repair_path(:id => repair, :point_id => params[:point_id]), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
<div class="digg-pagination">
  <%= will_paginate @repairs %>
</div>
<br>

<%= link_to 'New Repair', new_point_repair_path(@point),  :class => 'btn btn-default' %>  <%= link_to 'Back', :back,  :class => 'btn btn-default' %>