<% if notice %>
<div class='alert alert-success'>
  <strong>Done!</strong>
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<p>
  <strong>Repairer:</strong>
  <%= @repair.user.first_name+' '+@repair.user.last_name %>
</p>
<p>
  <strong>Description:</strong>
<div style="width:400px;"><%= @repair.description.html_safe %>
</p>

<p>
  <strong>Status:</strong>
  <%= @repair.status %>
</p>
<p>
  <strong>Date:</strong>
  <%= @repair.date  %>
</p>




<%
 @point = Point.find(params[:point_id])
%>


<%= link_to 'New', new_point_repair_path(@point), :class => 'btn btn-default' %> 
<%= link_to 'Edit', edit_point_repair_path(@point,@repair), :class => 'btn btn-default' %> 
<%= link_to 'Back', point_repairs_path(@point), :class => 'btn btn-default' %>

